<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>313804251285-dqmv6oo81uvc51gcsvfr6lt4p76cjaqp.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.313804251285-dqmv6oo81uvc51gcsvfr6lt4p76cjaqp</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.prayerstack.prayertracker</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>PrayerTracker sends daily reminders to help you maintain your prayer practice and track missed prayers (qada). You can customize reminder times in Settings.</string>
</dict>
</plist>
